{
  "*.{js,cjs,mjs,jsx,ts,tsx}": [
    "eslint --resolve-plugins-relative-to . --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{css,less}": ["stylelint --fix", "prettier --write"],
  "*.{md,json,yaml,yml}": ["prettier --write"]
}
