.containerSettingsForm {
  padding: 18px 14px;

  :global(.ant-form-item) {
    margin-bottom: 20px;
  }

  :global(.ant-form-item-label > label) {
    color: #687489;
  }

  :global(.ant-input-number) {
    width: 100%;
  }

  :global(.ant-input-textarea-show-count) {
    margin-bottom: 8px;
  }
}

.containerSettingsTabs {
  :global(.ant-tabs-nav) {
    margin-bottom: 0;
    padding-inline: 14px;
  }

  :global(.ant-tabs-nav-list) {
    width: 100%;
  }

  :global(.ant-tabs-tab) {
    flex: 1;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    color: #687489;
    padding-block: 14px 10px;
  }

  :global(.ant-tabs-tab + .ant-tabs-tab) {
    margin-inline-start: 0;
  }

  :global(.ant-tabs-tab-active .ant-tabs-tab-btn) {
    text-shadow: none;
  }
}

.containerLogicPlaceholder {
  min-height: 180px;
  background: #fff;
}
