.settings {
  overflow-y: auto;
  border-inline-start: 1px solid var(--editor-border);
}

.introSettingsTitle:global(.ant-typography) {
  padding: 14px 0 10px;
  margin: 0 14px;
  text-align: center;
  color: #f43f50;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 2px solid #f43f50;
}

.introSettingsForm {
  padding: 18px 14px;

  :global(.ant-form-item) {
    margin-bottom: 20px;
  }

  :global(.ant-form-item-label > label) {
    color: #687489;
  }

  :global(.ant-input-number) {
    width: 100%;
  }

  :global(.ant-input-textarea-show-count) {
    margin-bottom: 8px;
  }
}
